.inicio-container{
    font-family: 'Cairo', sans-serif;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:fixed;
    width:100vw;
    z-index: 999999;
    background: #313131;
}

#logoAP{
    padding: 1rem;
    width: 9.5rem;
    margin-left: 2rem;
}

.logoap{
    display:flex;
    align-items: center;
}

.logo-text{
    margin-left: 2rem;
    margin-right: 2rem;
    color: #fff;
}

.navbar{
    position: relative;
    top: 1rem;
    left: -5rem;
}


.navbar-nav{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.nav-link{
    position: relative;
}

.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 0;
    border-radius: 2px;
    background-color: #D49BB0;
    transition: 0.4s ease;
}

.nav-link:hover::after{
    width: 100%;
}

.boton-login{
    position: relative;
    
}

.boton-login a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.login-icon{
    border: 1px solid #fff;
    padding: .5rem .7rem;
    border-radius: 50%;
}

.login-icon:hover{
    border: 1px solid #D49BB0;
    background-color: #D49BB0;
    color: #fff;
}

.nav li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color: #fff;
    margin-left: 1.5rem;
    align-items: center;
    font-size: 1.1rem;
}

.nav li a:hover{
    color: #D49BB0;
    transform:translateY(5px);
}

footer{
    width: 100%;
    font-family: 'Cairo', sans-serif;
}

.footer-container{
    display: flex;
    flex-direction: row;
    background: #313131;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lado-der{
    text-align: center;
}

.lado-izq{
    text-align: center;
}

.lado-izq span{
    font-weight: bold;
}