footer{
    width: 100%;
    font-family: 'Cairo', sans-serif;
}

.footer-container{
    display: flex;
    flex-direction: row;
    background: #313131;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lado-der{
    text-align: center;
}

.lado-izq{
    text-align: center;
}

.lado-izq span{
    font-weight: bold;
}