<app-header></app-header>
<app-inicio></app-inicio>
<app-acerca></app-acerca>
<hr>
<app-educacion></app-educacion>
<hr>
<app-experiencia></app-experiencia>
<hr>
<app-skills></app-skills>
<hr>
<app-proyectos></app-proyectos>
<hr>
<footer>
    <div class="footer-container">
        <div class="lado-der">
                <h3>Gimena Bugiolachio</h3>
                <span>Desarrolladora Full Stack Web</span>
        </div>
        <div class="lado-izq">
                <p>Argentina Programa</p>
                <span>#YoProgramo</span>
        </div>
        </div>  
</footer>
