<app-header></app-header>
<app-inicio></app-inicio>
<app-acerca></app-acerca>
<hr>
<app-educacion></app-educacion>
<hr>
<app-experiencia></app-experiencia>
<hr>
<app-skills></app-skills>
<hr>
<app-proyectos></app-proyectos>
<footer>
    <div class="row footer-container">
        <div class="col lado-der">
                <p>All Right Reserved © 2022 <span style="color: #D9A0BB; font-weight: bold;" >Gimena Bugiolachio</span></p>
        </div>
        <div class="col lado-izq">
                <div class="redes-link">
                        <a class="icon icon-facebook" href="https://www.facebook.com/Gimena.Bugiolachio" target="_blank">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a class="icon icon-instagram" href="https://www.instagram.com/gimenabugiolachio/" target="_blank">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a class="icon icon-github" href="https://github.com/gimenabugiolachio" target="_blank">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                        <a class="icon icon-twitter" href="https://twitter.com/GimenaBugiolac1" target="_blank">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a class="icon icon-linkedin" href="https://www.linkedin.com/in/gimena-bugiolachio-55887969/"
                            target="_blank">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </div>
        </div>
        </div>  
</footer>
