<div class="inicio-container container">
    <div class="header-container">
        <div class="logoap">
            <img class="img-fluid" src="./assets/logo-ap.png" alt="Logo-ArgentinaPrograma" id="logoAP">
            <div>
                <span class="logo-text"><b>#YoProgramo</b></span>
            </div>
        </div> 
        <div class="navbar">
            <nav class="nav">
                <ul class="navbar-nav">
                    <li><a href="#inicio" class="nav-link">Inicio</a></li>
                    <li><a href="#acerca" class="nav-link">Acerca de</a></li>
                    <li><a href="#educacion" class="nav-link">Educación</a></li>
                    <li><a href="#experiencia" class="nav-link">Experiencia</a></li>
                    <li><a href="#skills" class="nav-link">Hard & Soft Skills</a></li>
                    <li><a href="#proyectos" class="nav-link">Mis Proyectos</a></li>
                    <li><a href="#contacto" class="nav-link">Contacto</a></li>
                    <li>
                        <a href="/login">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<app-inicio></app-inicio>
<app-acerca></app-acerca>
<hr>
<app-educacion></app-educacion>
<hr>
<app-experiencia></app-experiencia>
<hr>
<app-skills></app-skills>
<hr>
<app-proyectos></app-proyectos>
<hr>
<app-contacto></app-contacto>
<footer>
    <div class="footer-container">
        <div class="lado-der">
                <h3>Gimena Bugiolachio</h3>
                <span>Desarrolladora Full Stack Web</span>
        </div>
        <div class="lado-izq">
                <p>Argentina Programa</p>
                <span>#YoProgramo</span>
        </div>
        </div>  
</footer>
