<div class="container">
    <div class="row">
        <div class="formulario">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <h2>Editar proyecto</h2>
                <hr>
                <div id="nombre-descripcion">
                    <div class="nombre-imagen">
                        <div class="form-group nombre">
                            <label for="nombreP">Nombre</label>
                            <input type="text" size="20" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyectos.nombreP" required>
                        </div>
                        <div class="form-group imagen">
                            <label for="imgP">Imagen</label>
                            <input type="text" size="20" class="form-control" id="imgP" name="imgP" [(ngModel)]="proyectos.imgP" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcionP">Descipción</label>
                        <textarea cols="40" rows="5" type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyectos.descripcionP" required></textarea>
                    </div>
                </div> 
                <button type="submit" class="btn">
                    Guardar
                </button>  
            </form>
        </div>
    </div>
</div>
