.formulario{
    position: absolute;
    width: 700px;
    height:max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(.5em);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1em);
    padding: 1em 2em;
    border-radius: 2em; 
}

#nombre-descripcion{
   margin-top: 1em;
}

form h2{
    text-align: center;
    font-size: 2vw;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-right: 1em;
}

.nombre-imagen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-control{
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5em;
    padding: .5em 1.3em;
    color: #f3f3f3;
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 480px){
    .formulario{
        width: 90%;
        height: max-content;
    }
    
    .form-group label,
    .form-group input, 
    .form-group textarea{
        font-size: 3vw;
    }

    .nombre-imagen{
        display: flex;
        flex-direction: column;
    }
    
    form h2 {
        font-size: 4.5vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    form h2 {
        font-size: 4.5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px){
    form h2 {
        font-size: 3vw;
    }
}