.formulario{
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #232323b4;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    padding: 1rem 2rem;
    border-radius: 2rem; 
}

#info{
   position: relative;
   top: 2rem;
}

form h2{
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.form-group label{
    margin-right: 1rem;
}

.form-control{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.btn{
    background: #D49BB0;
    color: #fff;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    position: relative;
    text-align: center;
    font-size: 1.1rem;
    left: 40%
}

.btn:hover{
    background: #fff;
    color: #D49BB0;
}


