#proyectos {
    width: 100vw;
    height: 85vh;
}

.titulo {
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: Verdana;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

.icon-agregar{
    position: relative;
    cursor: pointer;
    transition: .2s;
    left: 1.5rem;
    top: .8rem;
}

.icon-agregar:hover{
    color: #D9A0BB;
}

.proyectos-body{
    padding: 10px 0;
    margin-top: 3rem;
}

.slider-wrap{
    position: relative;
    overflow: hidden;
    height: 450px;
}

.slider-main{
    position: absolute;
    width: 200%;
}

.item{
    display: inline-block;
    width: 337px;
    height: 450px;
    background: #494848;
    position: relative;
    margin: 0 20px;
    border-radius: 1rem;
    flex-wrap: wrap;
}

.card-image{
    height: 180px;
}

.card-image img{
    height: 180px;
    margin-left: 1rem;
}

.text h2{
    text-align: center;
    padding: .5rem 0;
    letter-spacing: 2px;
}

.text p{
    justify-content: center;
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    max-height: 2rem;
}

.item button{
    background: #232322c5;
    border: none;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    line-height: 20px;
    padding: 6px 11px;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.item .link{
   position: relative;
   top: 3.5rem;
   left: 7rem;
}

.item button:hover{
    background: #A498B3;
}



.button-area button{
    background: transparent;
    color: #f3f3f3;
    cursor: pointer;
    font-size: 3.5rem;
    border: none;
    
}

.prev{
    position: absolute;
    left: .5rem;
    top: 50%;  
}

.next{
    position: absolute;
    right: 1.5rem;
    top: 50%;
}
  
    