#proyectos{
    height: 85vh;
}

.proyectos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    display: flex;
    color: #f3f3f3;
    font-size: 1.5rem;
    letter-spacing: 1px;
    justify-content: center;
    padding-top: 5rem;
}

.btn-agregar {
    position: relative;
    cursor: pointer;
    transition: .2s;
    border: none;
    color: #f3f3f3;
    font-size: 1.3rem;
    background-color: transparent;
    left: 1rem;
    top: .2rem;
}

.btn-agregar:hover {
    color: #D9A0BB;
}

.proyectos-cards-container {
    position: relative;
    top: 5em;
    overflow: hidden;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,.5);
    padding-top: 10px;
    background-color: rgba(48, 47, 47, 0.3);
}

.my_swiper{
    padding: 30px;
}

.proyecto-card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    height: 270px;
    width: 230px;
    margin-bottom: 20px;
    list-style: none;
    list-style-type: none;
    text-align: center;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: #0000004d;
    border-right: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all .3s;
}

.proyecto-card:hover {
    border: 1px solid #D9A0BB;
}

.swiper-pagination-bullet{
    background: #696767;
}

.swiper-pagination-bullet-active{
    background: #D9A0BB;
}

.proyecto-header {
    height: 140px;
    transition: all 1s;
    max-width: 100%;
}

.proyecto-header>img {
    object-fit: cover;
    padding: 0.5em;
    width: 100%;
}

.proyecto-contenido {
    background-color: #353536;
    padding: 10px 6px;
}

.buttons button {
    background-color: transparent;
    color: #f3f3f3;
    border: none;
    font-size: 2vw;
    cursor: pointer;
    margin-right: .5rem;
}

.buttons button:hover {
    color: #D9A0BB;
}

.editar-eliminar {
    position: relative;
    left: 80%;
}

.editar-eliminar button {
    background-color: transparent;
    color: #f3f3f3;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    margin-right: .5rem;
}

.editar-eliminar button:hover {
    color: #D9A0BB;
}

.nombre {
    letter-spacing: 2px;
    font-size: 1.3vw;
}

.descripcion {
    font-size: 1vw;
    margin-bottom: 80px;
}


@media only screen and (max-width: 480px) {
    #proyectos {
        margin-top: -4em;
    }

    .titulo h2{
        font-size: 6vw;
    } 

    .nombre {
        font: 3vw;
    }

    .editar-eliminar button{
        font-size: 2vw;
    }

    .descripcion{
        font-size: 2vw;
    }
}