<section class="proyectos" id="proyectos">
    <div class="proyectos-container">
    <div class="titulo">
        <h2>Mis proyectos</h2>
        <div class="button-editar">
           <fa-icon [icon]="faPenToSquare" class="icon-proyec"></fa-icon>
        </div>
    </div>
<section class="proyectos-body">
    <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="item">
                    <div class="text">
                        <h2>Portfolio</h2>
                        <div class="card-image"><img class="img-fluid" src="./assets/proyecto1.png" alt="Portfolio"></div>
                        <p>Realizado en HTML, CSS y JavaScript. Proyectando cómo maquetarlo en Angular.</p>
                    </div>
                    <button><a href="#"></a>Más info</button>
                </div>
                <div class="item">
                    <div class="text">
                        <h2>Calendario Anual</h2>
                        <div class="card-image"><img class="img-fluid" src="./assets/proyecto2.png" alt="Calendario"></div>
                        <p>Realizado con HTML, CSS Y JavaScript. Con ganas de agregarle recordatorios.</p>
                    </div>
                    <button><a href="#"></a>Más info</button>
                </div>
                <div class="item">
                    <div class="text">
                        <h2>Calculadora Básica</h2>
                        <div class="card-image"><img class="img-fluid" src="./assets/proyecto3.png" alt="Calculadora"></div>
                        <p>Realizada en HTML, CSS y JavaScript. Proyecto de hacerla Calculadora Científica.</p>
                    </div>
                    <button><a href="#"></a>Más info</button>
                </div>
                <div class="item">
                    <div class="text">
                        <h2>Tarjetas efecto Glass</h2>
                        <div class="card-image"><img class="img-fluid" src="./assets/proyecto4.png" alt="Tarjetas"></div>
                        <p>Realizadas con HTML y CSS. Tarjetas con efecto espejo,</p>
                    </div>
                    <button><a href="#"></a>Más info</button>
                </div>
                <div class="item">
                    <div class="text">
                        <h2>Página Web</h2>
                        <div class="card-image"><img class="img-fluid" src="./assets/proyecto5.png" alt="Página-Web"></div>
                        <p>Realizada con HTML y CSS. Página web para asesora jurídica.</p>
                    </div>
                    <button><a href="#"></a>Más info</button>
                </div>
                <div class="item">
                    <div class="text">
                        <h2>Quiz Matemático</h2>
                        <div class="card-image"><img class="img-fluid" src="./assets/proyecto6.png" alt="Juego-Matemático"></div>
                        <p>Juego con preguntas matemáticas. Realizado con HTML y JavaScript.</p>
                    </div>
                    <button><a href="#"></a>Más info</button>
                </div>
            </div>
            <div class="button-area">
                <button class="prev" type="button" appPrev><fa-icon [icon]="faCircleChevronLeft" ></fa-icon></button>
                <button class="next" type="button" appNext><fa-icon [icon]="faCircleChevronRight"></fa-icon></button>
            </div>
        </div>
    </div>
</section>
</div>
</section>