#inicio{
    width: 100%;
    height: 91vh;  
}

#banner{
    width: 100%;
    height:90vh ;
    position: relative;
    top:4.5rem;
}



.btn-new button{
    background-color:#A498B3;
    border: none;
    border-radius: 1rem;
    color: #fff;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    animation: float 4s linear infinite;
    font-size: 1.2rem;
}

