<section id="inicio">
    <div class="container-fluid">
            <div class="imagen">
                 <!--Banner / quizas lo cambie y ponga una animacion / video-->
                <img src="./assets/BannerInicio.svg" alt="Banner" id="banner" class="img-fluid">
            </div>
            <div class="row">
                <div class="col-md-12 info">
                    <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                    <p>{{persona.profesion}}</p>
                </div>
            </div>
        </div>
</section>