#educacion{
    width: 100vw;
    height: 100vh;
}

.titulo{
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Cairo', sans-serif;
}


.btn-agregar{
    position: relative;
    cursor: pointer;
    transition: .2s;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    background-color: transparent;
    left: 1rem;
    top: .2rem;
}

.btn-agregar:hover{
    color: #D9A0BB;
}


.desc{
    padding: .5rem;
}

.info{
    display: flex;
    flex-direction: column;
}

.fechas{
    display: flex;
    width: 1025px;
    text-align: center;
    margin-top: .7rem;
    margin-bottom: 1rem;
    
}

.fechas p{
    font-size: small;
    margin-left: 27rem;
}

.carrera{
    font-size: 1.1rem;
    margin-bottom: .7rem;
    letter-spacing: 2px;
}

.box{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    background: #fff;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    border-radius: 15px;
    color: #fff;
    background: #383838b4;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    position: relative;
    top: 2rem;
}

.nombreE{
    letter-spacing: 2px;
    width: 1100px;
}

.nombreE h2{
    margin-bottom: .5rem;
}

.descripcionE{
    padding: 1rem 0;
    width: 1100px;
    font-size: 1.1rem;
}


.puestoE{
 width: 1100px;
}

.puestoE p{
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.box-contenido{
    padding: 0 1rem 1rem 1rem;
}

.buttons{
    display: flex;
    flex-direction: row;
  
}

.buttons button{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.1rem;
}

.nombre-botones{
    display: flex;
}

.icon{
    margin-left: .5rem;
    cursor: pointer;
}

.icon:hover{
    color: #D9A0BB;
}
