<section id="educacion">
    <div class="educacion-container container">
        <div class="titulo">
            <h2>Educación</h2>
            <div class="boton-editar">
                <fa-icon [icon]="faPenToSquare" class="icon-edu"></fa-icon>
            </div>
        </div>
            <div class="cards">
                <div class="card-container">
                    <img src="./assets/unpaz1.jpg" alt="UNSAM" class="img-fluid">
                    <div class="card-contenido">
                        <h3>Universidad Nacional de José C.Paz</h3>
                        <hr>
                        <p><strong>Tecnologías de la Información</strong></p>
                        <div class="card-footer">
                            <p>Licenciatura que combina saberes tecnológicos relacionados con la programación, la robótica, las redes y la inteligencia artificial, con conocimiento propio de los administradores de organizaciones para la gestión integral de los sistemas de información.</p>
                            <span><fa-icon [icon]="faAnglesRight" class="icon-arrow"></fa-icon>En curso</span>

                            <button><a href="https://www.unpaz.edu.ar/gestiontecnologias" target="_blank"></a>Más info</button>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <img src="./assets/unsam1.jpg" alt="UNSAM" class="img-fluid">
                    <div class="card-contenido">
                        <h3>Universidad Nacional de San Martín</h3>
                        <hr>
                        <p><strong>Economía</strong></p>
                        <div class="card-footer">
                            <p>Licenciatura que combinará una sólida formación académica que contemplará el desarrollo de razonamientos lógicos-deductivos, inductivos y analíticos, lo cual permitirá aproximarse a los problemas humanos con rigor científico a través del enfoque económico. </p>
                            <span><fa-icon [icon]="faAnglesRight" class="icon-arrow"></fa-icon>Abandonado</span>
                            <button><a href="https://www.unsam.edu.ar/escuelas/economia/86/economia/economia" target="_blank"></a>Más info</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>