<section id="educacion">
    <div class="row">
        <div class="titulo">
            <h2>Educación</h2>
            <button class="btn-agregar" routerLink="/agregarEducacion" *ngIf="isLogged">
                <fa-icon [icon]="faCirclePlus"></fa-icon>
            </button>
        </div>
        <div class="box">
            <div class="box-contenido" *ngFor="let Educacion of educacion">
                <div class="desc">
                    <div class="nombre-botones">
                        <th class="nombreE">
                            <h2>{{Educacion.nombreE}}</h2>
                        </th>
                        <div class="buttons">
                            <td *ngIf="isLogged">
                                <button routerLink="/editarEducacion/{{Educacion.id}}">
                                    <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
                                </button>
                            </td>
                            <td *ngIf="isLogged">
                                <button (click)="delete(Educacion.id)">
                                    <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
                                </button>
                            </td>
                        </div>
                    </div>
                    <div class="info">
                        <td>
                            <p class="carrera">{{Educacion.detallesE}}</p>
                        </td>
                        
                        <td>
                            <p>{{Educacion.descripcionE}}</p>
                        </td> 
                    </div>
                   
                    <div class="fechas">
                        <td>
                            <p>{{Educacion.fechaInicioE}} - {{Educacion.fechaFinE}}</p>
                        </td> 
                    </div>                
                    <hr>
                </div>
            </div>
           
        </div>
    </div>
</section>
