#educacion {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.titulo {
    display: flex;
    color: #f3f3f3;
    font-size: 1.5rem;
    letter-spacing: 1px;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Cairo', sans-serif;
}

.row {
    text-align: center;
}

.btn-agregar {
    position: relative;
    cursor: pointer;
    transition: .2s;
    border: none;
    color: #f3f3f3;
    font-size: 1.3rem;
    background-color: transparent;
    left: 1rem;
    top: .2rem;
}

.btn-agregar:hover {
    color: #D9A0BB;
}

.info {
    display: flex;
    flex-direction: column;
}

.fechas {
    display: flex;
    /* width: max-content; */
    /* left: -16rem; */
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #2a2a2a;
    margin-top: 0.7rem;
    /* margin-bottom: 1rem; */
    /* align-items: center; */
    justify-content: center;
}

.box {
    position: relative;
    top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.detalles {
    padding-top: .6rem;
}

.card {
    width: 500px;
    height: 480px;
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(.5rem);
    cursor: pointer;
    border-radius: 15px;
    backdrop-filter: blur(1rem);
    overflow: hidden;
    color: #f3f3f3;
    margin: 0 auto;
}

.cover-card {
    width: 110%;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    margin-left: -2rem;
}

.cover-card img {
    width: 110%;
    position: relative;
    left: 2rem;
    top: -8rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 24rem;
    z-index: 111111;
}

.buttons button {
    color: #f3f3f3;
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
}

.icon {
    margin-left: 1rem;
    cursor: pointer;
    padding: .3rem;
    background-color: #313131;
    border-radius: .5rem;
}

.icon:hover {
    color: #D9A0BB;
}

@media only screen and (max-width: 480px) {
    #educacion {
        margin-top: -4rem;
        height: max-content;
    }

    .row {
        padding-bottom: 2rem;
    }

    .card {
        height: max-content;
        margin-bottom: 1.5rem;
    }

    .titulo h2 {
        font-size: 6vw;
    }

    .footer-card .descripcion {
        font-size: .8rem;
        padding-left: .3rem;
        padding-right: .3rem;
    }

    .box {
        width: 90%;
        /* flex-direction: column; */
        margin: 0 auto;
    }

    .cover-card {
        width: 120%;
        height: 150px;
    }

    .buttons {
        left: 70%;
    }

    .buttons button {
        font-size: 3vw;
    }

    .fechas p {
        font-size: .6rem;
    }

    .btn-agregar {
        position: relative;
        top: -0.1em;
        font-size: 4vw;
    }
}