<section id="educacion">
    <div class="container-fluid">
        <div class="titulo">
            <h2>Educación</h2>
            <button class="btn-agregar" routerLink="/agregarEducacion" *ngIf="isLogged">
                <fa-icon [icon]="faCirclePlus"></fa-icon>
            </button>
        </div>
        <div class="cards-container">
            <ul class="educacion-cards">
                <li class="educacion-card" *ngFor="let Educacion of educacion">
                        <div class="educacion-card-img">
                            <img src="{{Educacion.imgE}}" alt="Imagen de Institucion {{Educacion.nombreE}}">
                        </div>
                        <div class="educacion-card-content">
                            <h3 id="nombre">
                                {{Educacion.detallesE}}
                            </h3>
                            <p class="text">{{Educacion.nombreE}}</p>
                            <span class="fechas">{{Educacion.fechaInicioE}} - {{Educacion.fechaFinE}}</span>
                            <span class="text">
                                {{Educacion.descripcionE}}
                            </span>
                        </div>
                        <div class="buttons">
                            <td *ngIf="isLogged">
                                <button (click)="delete(Educacion.id)">
                                    <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
                                </button>
                            </td>
                            <td *ngIf="isLogged">
                                <button routerLink="/editarEducacion/{{Educacion.id}}">
                                    <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
                                </button>
                            </td> 
                        </div>
                </li>
            </ul>
        </div>
    </div>
</section>