<nav class="header-container container-fluid">
    <div class="logoap col-md-4">
        <div class="navbar-brand">
            <img class="img-fluid" src="./assets/logo-ap.png" alt="Logo-ArgentinaPrograma" id="logoAP">
            <div>
                <span class="logo-text"><b>#YoProgramo</b></span>
            </div>
        </div>
    </div> 
    <div class="navbar col-md-8">
            <ul class="navbar-nav">
                <li><a href="#inicio" class="nav-item">Inicio</a></li>
                <li><a href="#acerca" class="nav-item">Acerca De</a></li>
                <li><a href="#educacion" class="nav-item">Educación</a></li>
                <li><a href="#experiencia" class="nav-item">Experiencia Laboral</a></li>
                <li><a href="#skills" class="nav-item">Hard & Soft Skills</a></li>
                <li><a href="#proyectos" class="nav-item">Mis Proyectos</a></li>
                <li><a href="#contacto" class="nav-item"> Contacto</a></li>
                <div class="buttons">
                    <li>
                        <button class="btn-log" (click)="login()" *ngIf="!isLogged">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </button>
                    </li>
                    <li>
                        <button class="btn-log" (click)="onLogOut()" *ngIf="isLogged">
                            <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                        </button>   
                    </li>
                </div>
            </ul>
    </div>
</nav>