<div class="header-container">
    <div class="logoap">
        <img class="img-fluid" src="./assets/logo-ap.png" alt="Logo-ArgentinaPrograma" id="logoAP">
        <div>
            <span class="logo-text"><b>#YoProgramo</b></span>
        </div>
    </div> 
    <div class="navbar">
        <nav class="nav">
            <ul class="navbar-nav">
                <li><a href="#inicio" class="nav-link">Inicio</a></li>
                <li><a href="#acerca" class="nav-link">Acerca de</a></li>
                <li><a href="#educacion" class="nav-link">Educación</a></li>
                <li><a href="#experiencia" class="nav-link">Experiencia</a></li>
                <li><a href="#skills" class="nav-link">Hard & Soft Skills</a></li>
                <li><a href="#proyectos" class="nav-link">Mis Proyectos</a></li>
                <li><a href="#contacto" class="nav-link">Contacto</a></li>
                <div class="buttons">
                    <li>
                        <button class="btn-log" (click)="login()" *ngIf="!isLogged">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </button>
                    </li>
                    <li>
                        <button class="btn-log" (click)="onLogOut()" *ngIf="isLogged">
                            <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                        </button>   
                    </li>
                </div>
                
            </ul>
        </nav>
    </div>
</div>