.header-container{
    display: flex;
    justify-content: space-between;
    position:fixed;
    width:100vw;
    z-index: 999999;
    background: #313131;
    overflow: hidden;
    font-size: 1.3vw;
    height: max-content;
}

#logoAP{
    padding: 1rem;
    width: 9.5rem;
}

.navbar-brand{
    display:flex;
    align-items: center;
}

.logo-text{
    margin-left: 2rem;
    color: #f3f3f3;
}

.navbar{
    position: relative;
    top: 1em;
    left: -5rem;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}


.nav-item{
    position: relative;
}

.nav-item::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 0;
    border-radius: 2px;
    background-color: #D49BB0;
    transition: 0.4s ease;
}

.nav-item:hover::after{
    width: 100%;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: #f3f3f3;
    margin-left: 1.5em;
    align-items: center;
}

.nav li a:hover{
    color: #D49BB0;
    transform:translateY(5px);
}

.buttons{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 1rem;
}

.btn-log{
    position: relative;
    top: -.2rem;
    padding: .6rem;
    background-color: transparent;
    color: #f3f3f3;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn-log:hover{
    color: #D49BB0;
}

@media only screen and (max-width: 480px){
    .logo-text{
        font-size: 3vw;
    }
    
    .nav-item{
        visibility: hidden;
    }

    .buttons{
        position: absolute;
        left: 24em;
        top: 3em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .nav-item{
        visibility: hidden;
    }

    .logoap{
        position: relative;
        left: 20%;
    }

    .logo-text{
        font-size: 3vw;
    }
    .buttons{
        position: absolute;
        left: 30em;
    }
}

