<section id="experiencia">
    <div class="row">
        <div class="titulo">
            <h2>Experiencia Laboral</h2>
            <button class="btn-agregar" routerLink="/nuevaExperiencia" *ngIf="isLogged">
                <fa-icon [icon]="faCirclePlus"></fa-icon>
            </button>
        </div>
        <div class="box">
            <div class="box-contenido" *ngFor="let Experiencia of experiencia">
                <div class="desc">
                    <div class="nombre-botones">
                        <th class="nombreE">
                            <h2>{{Experiencia.nombreE}}</h2>
                        </th>
                        <div class="buttons">
                            <td *ngIf="isLogged">
                                <button routerLink="/editarExperiencia/{{Experiencia.id}}">
                                    <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
                                </button>
                            </td>
                            <td *ngIf="isLogged">
                                <button (click)="delete(Experiencia.id)">
                                    <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
                                </button>
                            </td>
                        </div>
                    </div>
                    <td class="puestoE">
                        <p>{{Experiencia.puestoE}}</p>
                    </td>
                    
                    <td class="descripcionE">
                        <p>{{Experiencia.descripcionE}}</p>
                    </td>
                   
                    <hr>
                </div>
            </div>
           
        </div>
    </div>
</section>