#experiencia {
    height: 100vh;
}

.box {
    width: 70vw;
    height: max-content;
    margin: 0 auto;
    border-radius: 15px;
    backdrop-filter: blur(1em);
    position: relative;
    top: 2em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    color: #f3f3f3;
    -webkit-backdrop-filter: blur(.5em);
}

.box:hover {
    border: 1px solid #D9A0BB;
}

.nombreE {
    letter-spacing: 1px;
    margin: 0 auto;
    font-size: 1.2vw
}

.fechas {
    text-align: center;
    display: grid;
    width: 100%;
}

.desc {
    padding: .5em;
    text-align: center;
}

.descripcionE {
    padding: 1em 0;
    color: #c2c0c0;
}

.descripcionE p,
.puestoE p{
    font-size: 1vw;
}

.puestoE {
    width: 35%;
}

.puestoE p {
    margin: .8em 0;
    font-weight: bold;
}

.box-contenido {
    padding: 0 1em 1em 1em;
}

.fechas {
    margin-bottom: .5em;
}

.nombre-botones {
    display: flex;
    flex-direction: row;
}

.buttons{
    left: 90%;
}

@media only screen and (max-width: 480px) {
    #experiencia {
        margin-top: -4em;
        margin-bottom: 4em;
        height: max-content;
    }

    .box {
        width: 90vw;
    }

    .box-contenido {
        padding: .5em;
    }

    .puestoE p,
    .descripcionE p
     {
        font-size: 2.1vw;
    }  
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #experiencia {
        margin-top: -4em;
        margin-bottom: 4em;
        height: max-content;
    }

    .box{
        width: 80%;
    }

    .puestoE p,
    .descripcionE p
     {
        font-size: 1.5vw;
    }  
}

@media only screen and (min-width: 769px) and (max-width: 992px){
    .puestoE p,
    .descripcionE p{
        font-size: 1.2vw;
    }
}