#experiencia{
    height: 100vh;
}

.titulo{
    display: flex;
    color: #f3f3f3;
    font-size: 1.5rem;
    letter-spacing: 1px;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Cairo', sans-serif;
}


.fechas{
    text-align: center;
    display: grid;
    width: 100%; 
}

.fechas p{
    font-size: small;
}


.btn-agregar{
    position: relative;
    cursor: pointer;
    transition: .2s;
    border: none;
    color: #f3f3f3;
    font-size: 1.3rem;
    background-color: transparent;
    left: 1rem;
    top: .2rem;
}

.btn-agregar:hover{
    color: #D9A0BB;
}


.desc{
    padding: .5rem;
    text-align: center;
}

.box{
    width: 70%;
    height: max-content;
    margin: 0 auto;
    border-radius: 15px;
    backdrop-filter: blur(1rem);
    position: relative;
    top: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    color: #f3f3f3;
    -webkit-backdrop-filter: blur(.5rem);
}

.box:hover{
    border: 1px solid #D9A0BB;
}

.nombreE{
    letter-spacing: 2px;
    margin: 0 auto;
}

.nombreE h2{
    margin-bottom: .5rem;
}

.descripcionE{
    padding: 1rem 0;
    font-size: 1.1rem;
}

.puestoE{
 width: 25%;
}

.puestoE p{
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.box-contenido{
    padding: 0 1rem 1rem 1rem;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.buttons button{
    background-color: transparent;
    color: #f3f3f3;
    border: none;
    font-size: 1vw;
}

.nombre-botones{
    display: flex;
    flex-direction: row;
}

.icon{
    margin-left: .5rem;
    cursor: pointer;
}

.icon:hover{
    color: #D9A0BB;
}


@media only screen and (max-width: 480px){
    #experiencia{
        margin-top: -4rem;
        margin-bottom: 4em;
        height: max-content;
    }

    .box{
        width: 90%;
    }

    .titulo h2{
        font-size: 6vw;
    }

    .box-contenido{
        padding: .5em;
    }

    .nombreE h2{
        font-size: 4vw;
    }

    .fechas p{
        font-size: 3vw;
    }
    
    .puestoE{
        display: inline-table;
    }
    
    .puestoE p{
        font-size: .8rem;
    }

    .descripcionE p{
        font-size: .8rem;
    }

    .buttons button{
        font-size:  2vw;
    }

    .btn-agregar{
        position: relative;
        top: -0.1em;
        font-size: 4vw;
    }
}
