<section id="experiencia">
    <div class="experiencia-container container">
        <div class="titulo">
            <h2>Experiencia laboral</h2>
            <div class="boton-editar">
                <fa-icon [icon]="faPenToSquare" class="icon-exp"></fa-icon>
            </div>
        </div>
            <div class="cards">
                <div class="box">
                    <div class="shape">
                        <div class="image" style="background-image: url(./assets/aguila1.png)"></div>
                    </div>
                    <div class="box-contenido">
                    <h3>Estampados Aguila</h3>
                    <hr>
                    <h4>Productos personalizados</h4>
                    <div class="descripcion">
                        <p>Me encuentro en el área de atención al público-venta. También realizo manejo de plataformas de pago y redes sociales.</p>
                        <span>agos/2019 - actualidad</span>
                    </div>
                    <button><a href="https://www.instagram.com/estampadosaguila/" target="_blank"></a>Más info</button>
                </div>
                </div>
                <div class="box">
                    <div class="shape">
                        <div class="image" style="background-image: url(./assets/DEMA1.png)"></div>
                    </div>
                    <h3>DEMA Salud-Tex</h3>
                    <hr>
                    <h4>Productos ortopédicos y deportivos</h4>
                    <div class="descripcion">
                        <p>Me encontraba en el área de facturación. También realizaba pago a proveedores y atención personalizada a clientes.</p>
                    <span>mar/2016 a dic/2016</span>
                    </div>
                    <button><a href="https://home.dema-argentina.com.ar/en/home" target="_blank"></a>Más info</button>
                </div>
            </div>
    </div>
</section>