<div class="container">
    <div class="row">
        <div class="formulario">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <h2>Agregar experiencia</h2>
                <hr>
                <div id="nombre-descripcion">
                    <div class="form-group nombre">
                        <label for="nombreE">Empresa</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE" size="43.4" [(ngModel)]="nombreE" required>
                    </div>
                    <div class="form-group puesto">
                        <label for="puestoE">Puesto</label>
                        <input size="43.4" type="text" class="form-control" id="puestoE" name="puestoE" [(ngModel)]="puestoE" required>
                    </div>
                    <div class="form-group descripcion">
                        <label for="descripcionE">Descripción</label>
                        <textarea cols="40" rows="5" type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required></textarea>
                    </div>
                    <div class="form-group fechas">
                        <div>
                            <label for="fechaInicioE">Fecha Inicio</label>
                        <input  type="text" class="form-control" id="fechaInicioE" name="fechaInicioE" [(ngModel)]="fechaInicioE" required>
                        </div>
                        <div>
                            <label for="fechaFinE">Fecha Fin</label>
                            <input type="text" class="form-control" name="fechaFinE" id="fechaFinE" [(ngModel)]="fechaFinE" required>
                        </div>
                    </div>
                </div>    
                <button class="btn">
                    Guardar
                </button>  
            </form>
        </div>
    </div>
</div>

