.formulario{
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(.5em);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em 2em;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2em; 
    text-align: center;
}

form h2{
    text-align: center;
}

.fechasIF{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.form-group{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.form-group label{
    margin-right: 1em;
}

.puesto input{
    margin-left: .8em;
}

.form-control{
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5em;
    padding: .5em 1.3em;
    color: #f3f3f3;
    margin-bottom: 1.5em;
}

#nombre-descripcion{
    margin-top: 1em;
}

@media only screen and (max-width: 480px) {
    .formulario {
        width: 90vw;
        height: max-content;
    }

    .form-group label,
    .form-group input,
    .form-group textarea {
        font-size: 3vw;
    }

    form h2 {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .formulario {
        width: 90vw;
        height: max-content;
    }

    form h2 {
        font-size: 4.5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .formulario{
        height: max-content;
    }

    form h2 {
        font-size: 3vw;
    }
}