#contacto{
    height: 90vh;
    width: 100vw;
    font-family: 'Cairo', sans-serif;
}

.titulo{
     display: flex;
     color: #fff;
     font-size: 1.5rem;
     letter-spacing: 1px;
     justify-content: center;
     padding-top: 5rem;
     font-family: 'Cairo', sans-serif;
}

.icon-contac{
    position: relative;
    cursor: pointer;
    transition: .2s;
    left: 1.5rem;
    top: .8rem;
}

.icon-contac:hover{
    color: #D9A0BB;
}

.datos-container{
    grid-template-columns: 300px 320px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: -2rem;
}

.contacto-info{
    display: grid;
    row-gap: 1rem;
    max-width: 350px;
    margin-top: 5rem;
    position: relative;
    left: -10rem;
}

.contacto-card{
    background-color: rgba(0, 0, 0, 0.3);
    padding: .5rem 1rem;
    border-radius: .5rem;
    align-items: center;
    text-align: center;
}

.contacto-card h3{
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.send{
    color: #bb8fa3;
    font-size: 1.4rem;
}

.redes{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 2.3rem;
}

.redes span{
    margin-bottom: 1.3rem;
    border-bottom: 2px solid #D9A0BB;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 0 3rem;
}

.redes-link{
    margin-bottom: 1.3rem;
}

.redes-link a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 1rem;
}

.contacto-qr img{
    width: 12rem;
    position: relative;
    left: -.5rem;
}

.icon{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}

.icon:hover{
    outline-offset: 3px;
}

.icon:hover{
    transform: translateY(-5px);
}

.icon-instagram:hover{
    background-color: transparent;
    outline-color: #fff
}

.icon-facebook:hover{
    background-color: transparent;
    outline-color: #fff;
}

.icon-github:hover{
    background-color: transparent;
    outline-color: #fff;
}

.icon-twitter:hover{
    background-color: transparent;
    outline-color: #fff;
}

.icon-linkedin:hover{
    background-color: transparent;
    outline-color: #fff;
}
