<section id="contacto">
    <div class="contacto-container container">
        <div class="titulo">
        <h2>Contacto</h2>
            <div class="button-editar">
                <fa-icon [icon]="faPenToSquare" class="icon-contac"></fa-icon>
            </div>   
        </div> 
        <div class="datos-container container grid">
            <div class="contacto-info">
                <div class="contacto-card">
                    <fa-icon [icon]="faEnvelope" class="send"></fa-icon>
                    <h3>Email</h3>
                    <span>gimena.bugiolachio@gmail.com</span>
                </div>
                <div class="contacto-card">
                    <fa-icon [icon]="faWhatsapp" class="send"></fa-icon>
                    <h3>Whatsapp</h3>
                    <span>11 2390-0493</span>
                </div>
                <div class="contacto-card">
                    <fa-icon [icon]="faFacebookMessenger" class="send"></fa-icon>
                    <h3>Messenger</h3>
                    <span>Gimena.Bugiolachio</span>
                </div>
                <div class="qr"></div>
            </div>
            <div class="redes">
                <span>Mis redes</span>
                <div class="redes-link"> 
                    <a class="icon icon-facebook" href="https://www.facebook.com/Gimena.Bugiolachio" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a> 
                    <a class="icon icon-instagram" href="https://www.instagram.com/gimenabugiolachio/" target="_blank" ><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a class="icon icon-github" href="https://github.com/gimenabugiolachio" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
                    <a class="icon icon-twitter" href="https://twitter.com/GimenaBugiolac1" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
                    <a class="icon icon-linkedin" href="https://www.linkedin.com/in/gimena-bugiolachio-55887969/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                </div>
                <div class="contacto-qr">
                    <a href="https://qrco.de/gimenabugiolachio" target="_blank"><img src="./assets/qr_Gimena_Bugiolachio.png" alt="QR" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</section>