#contacto {
    height: 88vh;
    width: 100vw;
    overflow: hidden;
}

.titulo {
    display: flex;
    color: #f3f3f3;
    font-size: 1.5vw;
    letter-spacing: 1px;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Cairo', sans-serif;
    z-index: 1;
}

.btn-editar {
    position: relative;
    cursor: pointer;
    transition: .2s;
    border: none;
    color: #f3f3f3;
    font-size: 1.3vw;
    background-color: transparent;
    left: 1rem;
    top: .2rem;
}

.btn-editar:hover {
    color: #D9A0BB;
}

.card{
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px #00000080;
  -webkit-backgroubd-size: cover;
  /* background-size: cover; */
  text-align: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: #0000004d;
  border-left: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  -webkit-backdrop-filter: blur(.5rem);
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
  /* align-items: center; */
  width: 200px;
  margin-bottom: 1rem;
}

.iconos{
  color: #BA889B;
}

.mis-redes{
    max-width: 320px;
    text-align: center;   
}

.mis-redes h2{
    border-bottom: 2px solid #BA889B;
    font-size: 2vw;
}

.redes-link {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 15px;
}

.redes-link a {
    text-decoration: none;
    font-size: 1.2vw;
    color: #f3f3f3;
    margin-left: 1em;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: 2px solid #f3f3f3;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 2px;
}

.icon:hover {
    transform: translateY(-5px);
}

.icon-instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color: #ff0080;
}

.icon-facebook:hover {
    background-color: #3b5998;
    outline-color: #3b5998;
}

.icon-github:hover {
    background-color: #4c2882;
    outline-color: #4c2882;
}

.icon-twitter:hover {
    background-color: #00acee;
    outline-color: #00acee;
}

.icon-linkedin:hover {
    background-color: #0072b1;
    outline-color: #0072b1;
}

.contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form h2{
    text-align: center;
    font-size: 2vw;
}

form label{
    margin-right: .5em;
}

.form-group{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

form input{
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    height: 2em;
    color: #f3f3f3;
}

form textarea{
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    color: #f3f3f3;
}

button {
    background: #D49BB0;
    color: #f3f3f3;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    font-size: 1.2vw;
}

button:hover {
    background: #f3f3f3;
    color: #D49BB0;
}