<section id="contacto">
    <div class="container-fluid">
        <div class="titulo">
            <h2>Contacto</h2>
            <fa-icon class="btn-editar" [icon]="faPenToSquare"></fa-icon>
        </div>
        <div class="contenido">
            <div class="row">
                    <h2>Escribime</h2>
                    <div>
                        <div class="card">
                            <fa-icon class="iconos" [icon]="faWhatsapp"></fa-icon>
                            <span> numero </span>
                        </div>
                        <div class="card">
                            <fa-icon class="iconos" [icon]="faEnvelope"></fa-icon>
                            <span>email </span>
                        </div>
                        <div class="card">
                            <fa-icon class="iconos" [icon]="faFacebookMessenger"></fa-icon>
                            <span> messenger </span>
                        </div>
                    </div>
            </div>
            <div class="row mis-redes">
                <div class="col descarga-redes">
                    <div class="col">
                        <h2>Mis redes</h2>
                    </div>
                    <div class="col redes-link">
                        <a class="icon icon-facebook" href="https://www.facebook.com/Gimena.Bugiolachio" target="_blank">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                        <a class="icon icon-instagram" href="https://www.instagram.com/gimenabugiolachio/" target="_blank">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a class="icon icon-github" href="https://github.com/gimenabugiolachio" target="_blank">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                        <a class="icon icon-twitter" href="https://twitter.com/GimenaBugiolac1" target="_blank">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a class="icon icon-linkedin" href="https://www.linkedin.com/in/gimena-bugiolachio-55887969/"
                            target="_blank">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="col descarga">
                    <button><a href="">Descargá mi CV</a></button>
                </div>
            </div>
        </div>    
    </div>
</section>