<section id="acerca">
    <div class="container-fluid" *ngFor="let AcercaDe of acercaDe">
        <div class="titulo">
            <h2>Acerca De</h2>
            <button class="btn-editar" routerLink="editarAcercaDe/{{AcercaDe.id}}" *ngIf="isLogged">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
        </div>
        <div class="all-info container">
            <div class="info row">
                <div class="col-md-6 col-xs-6 col-sm-6 foto-perfil">
                    <!--Elegir otra foto-->
                    <img src={{AcercaDe.imgA}} alt="Foto-Gimena" class="img-fluid" id="foto">
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 acerca-texto">
                    <p>{{AcercaDe.descripcionA}}</p>
                </div>
            </div>
            <div class="contacto-info row">
                <div class="col-md-6 col-xs-12 col-sm-12 contacto-card">
                    <fa-icon [icon]="faPerson" class="send"></fa-icon>
                    <h3>Nombre Completo</h3>
                    <span>{{AcercaDe.nombreA}}</span>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 contacto-card">
                    <fa-icon [icon]="faEnvelope" class="send"></fa-icon>
                    <h3>Email</h3>
                    <span>{{AcercaDe.mailA}}</span>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 contacto-card">
                    <fa-icon [icon]="faWhatsapp" class="send"></fa-icon>
                    <h3>Whatsapp</h3>
                    <span>{{AcercaDe.telefonoA}}</span>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 contacto-card">
                    <fa-icon [icon]="faGears" class="send"></fa-icon>
                    <h3>Edad</h3>
                    <span>{{AcercaDe.edadA}}</span>
                </div>
            </div>
        </div>
    </div>
</section>