#acerca {
    height: 100vh;
    width: 100vw;
}

#foto {
    position: relative;
    width: 18em;
    height: 18em;
    border-radius: 20%;
    border: 1px solid #f3f3f3;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    position: relative;
    top: 5em;
}

.send {
    color: #bb8fa3;
    font-size: 1.5vw;
    font-weight: bold;
}

.acerca-texto {
    max-width: 600px;
    margin-top: 4.7em;
    font-size: 1.2vw;
}

.contacto-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 10em;  
}

.contacto-card h3 {
    margin: 0 .2em;
}

.contacto-card span {
    color: #c2c0c0;
    font-size: 1vw;
    letter-spacing: 1px;
}

.contacto-card {
    box-shadow: 0 10px 20px #00000080;
    -webkit-backgroubd-size: cover;
    text-align: center;
    overflow: hidden;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
    background-color: #0000004d;
    border-right: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 0.5em 0em;
    border-radius: 0.5em;
    width: 15.6em;
    margin-right: 1em;
}

.contacto-card:hover {
    border: 1px solid #D9A0BB;
}

@media screen and (max-width: 480px) {
    #acerca {
        height: max-content;
        padding-bottom: 10em;
    }

    .send {
        font-size: 4vw;
    }

    .all-info {
        margin-top: -5em;
    }

    #foto {
        width: 10em;
        height: 10em;
    }

    .acerca-texto p {
        margin-top: -3.5em;
        font-size: 2.1vw;
    }

    .acerca-texto {
        max-width: 80%;
        margin-bottom: 3em;
        font-size: 3vw;
    }

    .contacto-info {
        flex-direction: column;
        align-items: center;
        margin-top: -3em;
    }

    .info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacto-card {
        max-width: 170px;
        margin-bottom: 1.5em;
        margin-right: 0;
    }

    .contacto-card span {
        font-size: 2vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #acerca {
        height: max-content;
        padding-bottom: 12em;
    }

    .all-info {
        margin-top: -8em;
    }

    .send {
        font-size: 3vw;
    }

    .info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacto-card span {
        font-size: 2vw;
    }

    #foto {
        width: 15em;
        height: 15em;
        top: 4em;
        border-radius: 20%;
    }

    .contacto-info {
        align-items: center;
        flex-direction: column;
        top: 12em;
    }

    .contacto-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.5em;
    }

    .acerca-texto {
        max-width: 90vw;
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .contacto-card span {
        font-size: 1.3vw;
    }

    .acerca-texto {
        margin-top: 6em;
        font-size: 1.5vw;
    }

    .send{
        font-size: 2vw;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .acerca-texto {
        max-width: 60vw;
        font-size: 1.4vw;
    }
}