<section id="acerca">
    <div class="row" *ngFor="let AcercaDe of acercaDe">
        <div class="titulo">
        <h2>Acerca De</h2>  
        <div class="button-editar">
            <button class="btn-editar" routerLink="editarAcercaDe/{{AcercaDe.id}}" *ngIf="isLogged">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
        </div> 
        </div>
        <div class="all-info-container" >     
            <div class="info-container">                
                <div class="foto-perfil">
                    <!--Elegir otra foto-->
                    <img src="../assets/foto-perfil.png" alt="Foto-Gimena" class="img-fluid" id="foto">
                </div>  
                <div class="acerca-texto">
                    <div>
                        <span class="hola">¡Hola!</span>
                    </div>
                    <div>
                        <p>{{AcercaDe.descripcionA}}</p> 
                    </div>
                </div>  
            </div>
            <div class="mas-info">
                    <ul>
                        <li>
                            <span><fa-icon [icon]="faCircle" class="circle"></fa-icon>
                                Nombre Completo: 
                            </span>
                           {{AcercaDe.nombreA}}
                        </li>
                        <li>
                            <span><fa-icon [icon]="faCircle" class="circle"></fa-icon>
                                Edad: 
                            </span>
                            {{AcercaDe.edadA}}
                        </li>                    
                        <li>
                            <span><fa-icon [icon]="faCircle" class="circle"></fa-icon>
                                Cel: 
                            </span>
                            {{AcercaDe.telefonoA}}
                        </li>
                        <li>
                            <span><fa-icon [icon]="faCircle" class="circle"></fa-icon>
                                Email: 
                            </span>
                            {{AcercaDe.mailA}}
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</section>