.formulario {
    position: absolute;
    width: 700px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    padding: 1rem 2rem;
    border-radius: 2rem;
}


form h2 {
    text-align: center;
}

.nom-edad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tel-mail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-group {
    display: flex;
    flex-direction: row;
}

.form-group label {
    margin-right: 1rem;
}

.detalles-container .descripcion {
    margin-left: 1rem;
}

.imgA {
    margin-left: 8rem;
}

.form-control {
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    color: #f3f3f3;
    margin-bottom: 1.5rem;
}

.btn {
    background: #D49BB0;
    color: #f3f3f3;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    position: relative;
    text-align: center;
    font-size: 1.1rem;
}

.btn:hover {
    background: #f3f3f3;
    color: #D49BB0;
}

.detalles-container {
    margin-top: 2rem;
}

@media only screen and (max-width: 480px) {
    .formulario {
        width: 90%;
        height: max-content;
    }

    form h2 {
        font-size: 5vw;
    }

    .nom-edad {
        /* justify-content: space-between; */
        flex-direction: column-reverse;
    }

    .form-group label,
    .form-group input,
    .form-group textarea {
        font-size: 3vw;
    }

    .tel-mail {
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: flex-end; */
        align-content: flex-start;
    }

    .form-group {
        flex-direction: column;
    }

    .imgA {
        margin: 0 auto;
    }

    .btn{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .formulario {
        width: 90%;
        height: max-content;
    }

    form h2 {
        font-size: 5vw;
    }

    .nom-edad {
        /* justify-content: space-between; */
        flex-direction: column-reverse;
    }

    .form-group label,
    .form-group input,
    .form-group textarea {
        font-size: 3vw;
    }

    .tel-mail {
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: flex-end; */
        align-content: flex-start;
    }

    .form-group {
        flex-direction: column;
    }

    .imgA {
        margin: 0 auto;
    }

    .btn{
        font-size: 3vw;
    }
}
