.formulario {
    position: absolute;
    width: 700px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(.5em);
    padding: 1em 2em;
    border-radius: 2em;
}

form h2 {
    text-align: center;
}

.fila{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-right: 1em;
}

.form-control {
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5em;
    padding: .5em 1.3em;
    color: #f3f3f3;
    margin-bottom: 1.5em;
}

.detalles-container {
    margin-top: 1em;
}

@media only screen and (max-width: 480px) {
    .formulario {
        width: 80vw;
        height: max-content;
    }

    form h2 {
        font-size: 4.5vw;
    }

    .form-group label,
    .form-group input,
    .form-group textarea {
        font-size: 3vw;
    }

    .fila{
        flex-direction: column;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .formulario {
        width: 90vw;
        height: max-content;
    }

    form h2 {
        font-size: 4.5vw;
    }

    .form-group label,
    .form-group input,
    .form-group textarea {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .formulario{
        height: max-content;
    }

    form h2 {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
    
}
