<div class="container" *ngIf="acercaDe">
    <div class="row">
        <div class="formulario">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <h2>Editar Acerca De</h2>
                <hr>
                <div class="detalles-container">
                    <div class="form-group">
                        <label for="descripcionA">Descripción</label>
                        <textarea type="text" class="form-control" id="descripcionA" name="descripcionA" cols="40"
                            rows="5" [(ngModel)]="acercaDe.descripcionA" required></textarea>
                    </div>
                    <div class="fila">
                        <div class="form-group">
                            <label for="nombreA">Nombre</label>
                            <input type="text" class="form-control" size="20" id="nombreA" name="nombreA"
                                [(ngModel)]="acercaDe.nombreA" required>
                        </div>
                        <div class="form-group">
                            <label for="edadA">Edad</label>
                            <input type="text" size="20" class="form-control" id="edadA"
                                name="edadA" [(ngModel)]="acercaDe.edadA" required>
                        </div>
                    </div>
                    <div class="fila">
                        <div class="form-group">
                            <label for="telefonoA">Teléfono</label>
                            <input type="text" size="20" class="form-control" id="telefonoA" name="telefonoA"
                                [(ngModel)]="acercaDe.telefonoA" required>
                        </div>
                        <div class="form-group">
                            <label for="mailA">Mail</label>
                            <input type="text" class="form-control" size="20" id="mailA" name="mailA"
                                [(ngModel)]="acercaDe.mailA" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="img">Imagen de Perfil</label>
                        <input type="url" size="30" class="form-control" id="imgA" name="imgA"
                            [(ngModel)]="acercaDe.imgA" required>
                    </div>
                    <button type="submit" class="btn">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>