.formulario{
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 2rem;
    border-radius: 2rem; 
}

form h2{
    text-align: center;
}

#nombre-descripcion{
    margin-top: 2rem;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.form-group label{
    margin-right: 1rem;
}

.nombre-icono{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tipo-porcentaje{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.form-control{
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    color: #f3f3f3;
    margin-bottom: 1.5rem;
}

mat-slider {
    width: 100px;
  }

  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(55, 55, 167); /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(120, 164, 182);  /*replace with your color*/
}

.btn{
    background: #D49BB0;
    color: #f3f3f3;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    position: relative;
    text-align: center;
    font-size: 1.1rem;
    left: 40%
}

.btn:hover{
    background: #f3f3f3;
    color: #D49BB0;
}

@media only screen and (max-width: 480px) {
    .formulario {
        width: 90%;
        height: max-content;
    }

    form h2 {
        font-size: 5vw;
    }

    .nombre-icono,
    .tipo-porcentaje{
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .form-group label,
    .form-group input,
    .form-group textarea {
        font-size: 3vw;
    }

    .btn {
        font-size: 3vw;
    }
}