.formulario{
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    border-radius: 2rem; 
}

form h2{
    text-align: center;
}

#nombre-descripcion{
    margin-top: 2rem;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.form-group label{
    margin-right: 1rem;
}

.nombre-icono{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tipo-porcentaje{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.form-control{
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    color: #f3f3f3;
    margin-bottom: 1.5rem;
}

.btn{
    background: #D49BB0;
    color: #f3f3f3;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    position: relative;
    text-align: center;
    font-size: 1.1rem;
    left: 40%
}

.btn:hover{
    background: #f3f3f3;
    color: #D49BB0;
}

@media (max-width: 576px){
    .formulario{
        width: 400px;
        height: 310px;
    }

    .form-group label,
    .form-group input, 
    .form-group textarea{
        font-size: .7rem;
    }

    form h2{
        font-size: .9rem;
    }

    #nombre-descripcion{
        display:flex;
        flex-direction: column;
    }

    .nombre-icono{
        display:flex;
        flex-direction: column;
    }   

    .tipo-porcentaje{
        display: flex;
        flex-direction: row;
    }

    #porcentaje{
        width: 5rem;
    }

    #tipo{
        width: 8rem;
    }
}

