<section id="skills">
    <div class="skills-container container">
        <div class="titulo">
            <h2>Hard & Soft Skills</h2>
            <div class="button-editar" routerLink="/agregarSkill" *ngIf="isLogged">
                <fa-icon [icon]=" faCirclePlus" class="icon-skills"></fa-icon>
            </div>
        </div>
        <div class="skills-contenido">
            <div class="skill-item container" *ngFor="let Skills of skills">
                <div class="skill-titulo">
                    <div class="nombre-skill">
                        <div>
                            <img src={{Skills.icono}} class="img-icon">
                            <h4>{{Skills.nombre}}</h4>
                        </div>
                        <p>{{Skills.tipo}}</p>
                    </div>
                    <div class="buttons">
                        <td *ngIf="isLogged">
                            <button routerLink="/editarSkill/{{Skills.id}}">
                                <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
                            </button>
                        </td>
                        <td *ngIf="isLogged">
                            <button (click)="delete(Skills.id)">
                                <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
                            </button>
                        </td>
                    </div>
                </div>
                <div class="skill-bar"
                attr.aria-valuenow="{{Skills.porcentaje}}"
                aria-valuemin="0"
                aria-valuemax="100"
                >
                </div>
            </div>
        </div>
    </div>
</section>