<section id="skills">
    <div class="skills-container container">
        <div class="titulo">
        <h2>Hard & Soft Skills</h2>
            <div class="button-editar">
                <fa-icon [icon]="faPenToSquare" class="icon-skills"></fa-icon>
            </div>   
        </div> 
        <div class="skills-contenido">
            <circle-progress
            [percent]="85"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="85"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="75"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="50"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="75"
            [imageSrc]="'../assets/angular.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="75"
            [imageSrc]="'../assets/gh.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="90"
            [imageSrc]="'../assets/COREL.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="70"
            [imageSrc]="'../assets/ae.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            <circle-progress
            [percent]="85"
            [imageSrc]="'../assets/ps.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#bb8fa3'"
            [innerStrokeColor]="'#c0bcf4'"
            [animation]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
    </div>
</section>