#skills{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.titulo{
    display: flex;
    color: #f3f3f3;
    font-size: 1.5rem;
    letter-spacing: 1px;
    justify-content: center;
    padding-top: 5rem;
}

.btn-agregar{
    position: relative;
    cursor: pointer;
    transition: .2s;
    border: none;
    color: #f3f3f3;
    font-size: 1.3rem;
    background-color: transparent;
    left: 1rem;
    top: .2rem;
}

.btn-agregar:hover{
    color: #D9A0BB;
}


.skill-container{
    width: 90vw;
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
}

.item{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-backgroubd-size: cover;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    background: #f3f3f3;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px;
    color: #f3f3f3;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    position: relative;
   padding-left: .5rem;
   padding-right: .5rem;
}

.titulo-icono{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.titulo-icono h4{
    margin-left: .8rem;
}

.skill-bar, 
.progress-bar{
    height: 5px;
    border-radius: .25rem;
}

.skill-bar{
    background-color: #494949;
}

.progress-bar{
    display: block;
    background-color: #B394C4;
}

.buttons{
   margin-left: 14rem;
   margin-top: .5rem;
}

.buttons button{
    background-color: transparent;
    color: #f3f3f3;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: .5rem;
}

.buttons button:hover{
    color: #D9A0BB;
}

.tipo p{
    letter-spacing: 1px;
}

.icono-skill{
    width: 1.5rem;
}

@media (max-width: 576px){
    #skills{
        margin-top: -4rem;
        height: max-content;
    }

    .titulo h2{
        font-size: 1.5rem;
    }

    .buttons{
      margin-top: .2rem;
      margin-left: 6rem;
    }

    .buttons button{
        font-size: .8rem;
    }

    .item{
        width: 150px;
        height: 100px;
    }

    .titulo-icono h4{
        font-size: .8rem;
    }

    .icono-skill{
        width: 1rem;
    }

    .tipo p{
        font-size: .7rem;
    }

    .skill-container{
        margin-bottom: 4rem;
    }

    .btn-agregar{
        position: relative;
        top: -.1rem;
    }
}

@media (max-width: 768px){
    #skills{
        margin-top: -4rem;
        height: max-content;
    }

    .titulo h2{
        font-size: 2rem;
    }

    .skill-container{
        margin-bottom: 4rem;
    }

}

@media (max-width: 992px){
    #skills{
        padding-top: -3rem;
        height: max-content;
    }
    .titulo h2{
        font-size: 2rem;
    }

    .skill-container{
        margin-bottom: 4rem;
    }
}

@media (max-width: 1200px){
    .skill-container{
       position: relative;
       right: 2rem;
    }
}