#skills{
    width: 100vw;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
}

.titulo{
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family:Verdana;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Cairo', sans-serif;
}

.skills-contenido{
    display: flex;
   justify-content: space-evenly;
   margin-top: 2rem;
}

.skill-edit fa-icon{
    cursor: pointer;
    margin-left: 1rem;
}

.skill-edit fa-icon:hover{
    color: #D9A0BB;
}

.skill-nombre{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.plus{
    position: relative;
    top: .4rem;
    cursor: pointer;
}

.plus:hover{
    color: #D9A0BB;
}

.skill-item{
    width: 200px;
    margin-bottom: 1.2rem;
}

.skill-titulo{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.inline{
    display: flex;
    flex-direction: row;
}

.inline h4{
    font-size: .8rem;
    font-weight: 400;
    margin-left: .5rem;
    position: relative;
    top: .2rem;
}

.skill-bar, 
.skill-porcentaje{
    height: 1.1rem;
    border-radius: .25rem;
}

.skill-bar{
    background-color: #464545e1;
}

.skill-porcentaje{
    display: block;
    background-color: #BBA5AF;
}

.inline img{
    width: 1rem;
    height: 1rem;
    position: relative;
    top: .3rem;
}

.icon-skills{
    position: relative;
    cursor: pointer;
    transition: .2s;
    left: 1.5rem;
    top: .8rem;
}

.icon-skills:hover{
    color: #D9A0BB;
}