@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: #232323;
    color: #fff;
    font-family: 'Cairo', sans-serif;
}

body{
    font-family: 'Cairo', sans-serif;
}

body::-webkit-scrollbar{
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical{
    width:1vw;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 1vh;
}

body::-webkit-scrollbar-thumb {
    background-color: #D9A0BB;
    border-radius: 20px;
}

body::-webkit-scrollbar-track{
    background-color: #6b6a6a;
}
