<section  id="inicio-sesion">
    <div class="sesion-container container">
        <h2>Bienvenido</h2>
        <hr>
        <form>
            <div class="forma mb-3">
            <fa-icon [icon]="faUser"></fa-icon>
            <input type="email" size="30" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario">
            </div>
            <div class="forma mb-3">
            <fa-icon [icon]="faLock"></fa-icon>
            <input type="password" size="30" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
        </form>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
</section>

