
#inicio-sesion{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #c694df, #becbec, #BBA5AF);
    background-size: 400% 400%;
    position: relative;
    animation: fondoAnimado 10s infinite;
}

@keyframes fondoAnimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.sesion-container{
    background: #232323b4;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    color: #f3f3f3;
    height: 33vh;
    width: 700px;  
    padding: 1rem 2rem;
    border-radius: 2rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagen-inicio{
    position: relative;
    left: -1rem;
    top: -1rem;
}

.imagen-inicio img{
    width: 20rem;
    height: 18rem;
}

.sesion-container h2{
    text-align: center;
}

.icon-form{
    color: #D49BB0;
    margin-right: .5rem;
    font-size: 1.2rem;
}

form{
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.form-control{
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    color: #f3f3f3;
    margin-bottom: 1.5rem;
}

.informacion{
    display: flex;
    flex-direction: column;
}

button{
    background: #D49BB0;
    color: #f3f3f3;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    position: relative;
    font-size: 1.1rem;
    
}
button:hover{
    background: #f3f3f3;
    color: #D49BB0;
}

.crear-cuenta a{
    text-decoration: none;
    color: #f3f3f3;
}

.crear-cuenta a:hover{
    color: #BBA5AF;
}

.icon-crear{
    margin-right: .7rem;
}

@media (max-width: 576px){
    .sesion-container{
        display: flex;
        flex-direction: column-reverse;
        height: 65vh;
        width: 400px;  
    }

    .imagen-inicio{
        position: relative;
        top: -1rem;
        left: .5rem;
    }

    .cuerpo-inicio h2{
        font-size: 1.1rem;
    }

    .forma fa-icon,
    .forma input{
        font-size: .8rem;
    }

    .cuerpo-inicio{
        position: relative;
        top: 1.1rem;
    }
}

@media (max-width: 768px){
    .sesion-container{
        height: 36vh;
        width: 700px;  
    }

    .imagen-inicio{
        position: relative;
        top: -3.1rem;
    }
}

@media (max-width: 992px){
    .imagen-inicio{
        position: relative;
        top: .5rem;
    }
}