#inicio-sesion {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #c694df, #becbec, #BBA5AF);
    background-size: 400% 400%;
    position: relative;
    animation: fondoAnimado 10s infinite;
}

@keyframes fondoAnimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    background: #232323b4;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(.5em);
    color: #f3f3f3;
    height: 330px;
    width: 45vw;
    padding: 1em 2em;
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagen-inicio {
    position: relative;
    left: -1em;
}

.imagen-inicio img {
    width: 17em;
}

.form-group label {
    font-size: 1vw;
}

.container h2 {
    text-align: center;
    font-size: 1.5vw;
}

.icon-form {
    color: #D49BB0;
    margin-right: .5em;
    font-size: 1.2em;
}

form {
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

.form-control {
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5em;
    padding: .5em 1.3em;
    color: #f3f3f3;
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        height: max-content;
        width: 80vw;
    }

    .imagen-inicio img {
        width: 10em;
    }

    .imagen-inicio {
        left: 5%;
        text-align: center;
        top: -1em;
    }

    .form-group label {
        font-size: 3vw;
    }

    .cuerpo-inicio h2 {
        font-size: 4.5vw;
    }

    .forma fa-icon {
        font-size: 3vw;
    }

    .cuerpo-inicio {
        position: relative;
        top: -1.5em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 600px;
        width: 50vw;
    }

    .imagen-inicio img {
        width: 14em;
    }

    .imagen-inicio {
        left: 5%;
        text-align: center;
        top: -1em;
    }

    .form-group label{
        font-size: 2vw;
    }

    .cuerpo-inicio h2 {
        font-size: 4.5vw;
    }

    .forma fa-icon {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px){
    .container{
        width: 60vw;
        height: max-content;
    }

    .cuerpo-inicio h2 {
        font-size: 2vw;
    }

    .form-group label{
        font-size: 1.5vw;
    }

    .icono-input{
        display: flex;
        flex-direction: row;
    }

    .imagen-inicio img {
        width: 15em;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
    .container{
        width: 50vw;
        height: max-content;
    }

    .cuerpo-inicio h2 {
        font-size: 2vw;
    }
}