#inicio-sesion {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #c694df, #becbec, #BBA5AF);
    background-size: 400% 400%;
    position: relative;
    animation: fondoAnimado 10s infinite;
}

@keyframes fondoAnimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    background: #232323b4;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(.5rem);
    color: #f3f3f3;
    height: 37%;
    width: 45%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagen-inicio {
    position: relative;
    left: -1rem;
}

.imagen-inicio img {
    width: 17em;
}

.form-group label {
    font-size: 1vw;
}

.container h2 {
    text-align: center;
    font-size: 1.5vw;
}

.icon-form {
    color: #D49BB0;
    margin-right: .5rem;
    font-size: 1.2rem;
}

form {
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

.form-control {
    background-color: transparent;
    border: 1px solid #f3f3f3;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    color: #f3f3f3;
    margin-bottom: 1.5rem;
}

button {
    background: #D49BB0;
    color: #f3f3f3;
    padding: .3rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    position: relative;
    font-size: 1.2vw;
}

button:hover {
    background: #f3f3f3;
    color: #D49BB0;
}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        height: max-content;
        width: 80%;
    }

    .imagen-inicio img {
        width: 10em;
    }

    .imagen-inicio {
         left: 5%; 
        text-align: center;
        top: -1em;
        
    }

    .col-sm-10 {
        display: flex;
        flex-direction: row;
    }

    .form-group input {
        max-width: 90%;
    }

    .form-group label {
        font-size: 3vw;
    }

    .cuerpo-inicio h2 {
        font-size: 4vw;
    }

    .forma fa-icon {
        font-size: 3vw;
    }

    .cuerpo-inicio {
        position: relative;
        top: -1.5em;
    }

    button {
        font-size: 4vw;
        left: 35%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .sesion-container {
        height: max-content;
        max-width: 90%;
    }

    .forma {
        display: flex;
        flex-direction: row;
    }

    .forma input {
        max-width: 90%;
    }

    .cuerpo-inicio h2 {
        font-size: 4vw;
    }

    .forma fa-icon {
        font-size: 3vw;
    }

    button {
        font-size: 3vw;
    }
}